In [3]:
import numpy as np
import pandas as pd

In [2]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\kisho\miniconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: packaging>=20.0 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (10.0.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (4.41.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.20 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (1.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kisho\miniconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kisho\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df=pd.read_csv(r"C:\Users\kisho\Desktop\Uber Trip Project\Uber Trip Excel data.csv")
df.head()

          Date/Time      Lat      Lon    Base
0  08-01-2014 00:03  40.7366 -73.9906  B02512
1  08-01-2014 00:09  40.7260 -73.9918  B02512
2  08-01-2014 00:12  40.7209 -74.0507  B02512
3  08-01-2014 00:12  40.7387 -73.9856  B02512
4  08-01-2014 00:12  40.7323 -74.0077  B02512

In [ ]:
#### Q1. On what date did we see the most number of Uber pickups?

**Skill Test:** Grouping & Counting

In [6]:
# Convert the 'Date/Time' column to datetime format
df['Date/Time']= pd.to_datetime(df['Date/Time'])



# Group by date and count the number of pickups


# Find the date with the highest number of pickups

ValueError: time data "8/13/2014 0:03:00" doesn't match format "%m-%d-%Y %H:%M", at position 13506. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [13]:
df.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [ ]:
#### Q.2 How many Uber pickups were made on the date with the highest number of pickups?

**Skill Test:** Indexing and filtering
    
# Filter the DataFrame to include only the rows for the date with the highest number of pickups


# Get the count of pickups on the highest date

In [ ]:
#### Q.3 How many unique TLC base companies are affiliated with the Uber pickups in the dataset?

**Skill Test:** Counting unique values
    
# Count the number of unique TLC base companies